@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Sistema Acadêmico</h1>
    <p>Use o menu para navegar entre Alunos, Instituições, Departamentos e Cursos.</p>
</div>
